NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=la_pre
DB_USER=postgres
DB_PASSWORD=changeme

JWT_SECRET=cambia-esto-por-un-valor-largo-y-aleatorio
JWT_EXPIRES_IN=1d

QR_EXPIRACION_SEG=120

APP_URL=http://localhost:3000
